<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :color %>
    <%= form.text_field :color, class: "form-control" %>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :size %>
      <%= form.text_field :size, class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :price %>
      <%= form.text_field :price, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :category_id %>
    <!-- <%= form.text_field :category_id %> -->
    <%= collection_select(:product, :category_id, Category.all, :id, :name, {}, { :class=>'form-control' } ) %>
  </div>

  <% if Store.all.any? %>
  <div class="form-group">
    <%= form.label :stores %>
    <% Store.all.each do |store| %>
    <div>
      <%= check_box_tag "product[store_ids][]", store.id, @product.stores.include?(store) %>
      <%= store.name %>
    </div>
    <% end %>
  </div>

  <% else %>
  <div class="form-group">
    <%= form.label :stores %>
    <p>
      <strong>Note:</strong> There are no stores to associate to this product. Create one first!
    </p>
  </div>
  <% end %>
  <div class="form-group">
    <%= form.submit "Submit Product", class: "btn btn-primary" %>
  </div>
<% end %>
