<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <!-- <%= form.text_field :category_id %> -->
    <%= collection_select(:product, :category_id, Category.all, :id, :name, {}, { :multiple => false } )%>
  </div>

  <div class="field">
    <%= form.label :stores %>
    <% @stores.each do |store| %>
    <div>
      <%= check_box_tag "product[store_ids][]", store.id, @product.stores.include?(store) %>
      <%= store.name %>
    </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
